@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@font-face {
  font-family: "pricedown bl";
  src: url("../font/pricedown/pricedown bl.otf");
}

* {
  font-family: "pricedown bl", "architects daughter", "indie flower", "caveat", "shrikhand", Arial, sans-serif;
  color: White;
  -webkit-text-stroke: 2px black;
}

html {
  scroll-behavior: smooth;
}

body {
  background: center fixed no-repeat url("../img/gtaBig.jpg");
  margin: auto;
  width: 100vw;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 40vh;
  margin-top: 2vh;
}

header nav {
  width: 32px;
  height: 32px;
  margin: 20px 20px 0 0;
}

header nav .fa-bars {
  position: absolute;
}

header nav select {
  width: 32px;
  height: 32px;
  font-size: 1.2em;
  padding: 0;
  position: relative;
  opacity: 0;
  cursor: pointer;
  background-color: black;
}

header nav select option {
  font-size: 0.8em;
  cursor: pointer;
}

.photo {
  width: 8rem;
  height: 8rem;
  margin: 0 4rem 0 0;
}

.photo .img {
  width: 8rem;
  height: 8rem;
  cursor: url(cible_halo.png) 16 16, auto;
}

h1 {
  font-size: 2rem;
  margin: 0 0 0 2rem;
}

h2 {
  font-size: 1.6rem;
  margin: 0 0 0 2rem;
}

section {
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

section ol {
  padding: 0;
  margin: 5vh 0 0 0;
}

section ol a {
  text-decoration: none;
  padding: 0;
}

section ol a li {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 6vh;
  font-size: 1.3em;
  border: 2px solid white;
  cursor: url(cible_halo.png) 16 16, auto;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

section ol a li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: black;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 80vw;
}

footer ul li {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

footer ul li i {
  font-size: 2rem;
}

footer ul li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

i {
  font-size: 2rem;
}

.fa-whatsapp:hover {
  color: green;
}

.fa-github:hover {
  color: pink;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-discord:hover {
  color: #7289da;
}

.fa-twitch:hover {
  color: #9147fe;
}
/*# sourceMappingURL=style.css.map */